In [55]:
import omdb
import pandas as pd
from omdb import OMDBClient
client = OMDBClient(apikey='e55a0e19')

In [56]:
csv_data = pd.read_csv('C:\My\Workspace\Python_Projects\Movies_Data\input_files\\film_list.csv')
csv_data.head()

               Title  Year_Released
0          Ambulance           2022
1  Blade Runner 2049           2017
2               Dune           2021
3   Edge Of Tomorrow           2014
4            Everest           2015

In [57]:
def get_film_object(row):
    film_title = row['Title']
    film_year_released = str(row['Year_Released'])
    film_object = client.search(film_title, year=film_year_released)
    return film_object[0]

csv_data['film_object'] = csv_data.apply(get_film_object, axis=1)
film_data = csv_data['film_object'].tolist()

In [58]:
full_df = pd.DataFrame(film_data)
full_df.reset_index()
print('stip')

stip

In [59]:
full_df.head(15)
# full_df.describe()

,title,year,imdb_id,type,poster
0,Ambulance,2022,tt4998632,movie,https://m.media-amazon.com/images/M/MV5BYjUyN2...
1,Blade Runner 2049,2017,tt1856101,movie,https://m.media-amazon.com/images/M/MV5BNzA1Nj...
2,Dune,2021,tt1160419,movie,https://m.media-amazon.com/images/M/MV5BN2FjNm...
3,Edge of Tomorrow,2014,tt1631867,movie,https://m.media-amazon.com/images/M/MV5BMTc5OT...
4,Everest,2015,tt2719848,movie,https://m.media-amazon.com/images/M/MV5BMTNmMz...
5,Everything Everywhere All at Once,2022,tt6710474,movie,https://m.media-amazon.com/images/M/MV5BYTdiOT...
6,Ford v Ferrari,2019,tt1950186,movie,https://m.media-amazon.com/images/M/MV5BM2UwMD...
7,Interstellar,2014,tt0816692,movie,https://m.media-amazon.com/images/M/MV5BZjdkOT...
8,Mad Max: Fury Road,2015,tt1392190,movie,https://m.media-amazon.com/images/M/MV5BN2EwM2...
9,No Time to Die,2021,tt2382320,movie,https://m.media-amazon.com/images/M/MV5BYWQ2Nz...
10,Ready Player One,2018,tt1677720,movie,https://m.media-amazon.com/images/M/MV5BY2JiYT...
11,Sonic the Hedgehog,2020,tt3794354,movie,https://m.media-amazon.com/images/M/MV5BNTdmNm...
12,Sonic the Hedgehog 2,2022,tt12412888,movie,https://m.media-amazon.com/images/M/MV5BODRlNT...
13,Soul,2020,tt2948372,movie,https://m.media-amazon.com/images/M/MV5BZGE1MD...
14,Terminator 2: Judgment Day,1991,tt0103064,movie,https://m.media-amazon.com/images/M/MV5BMGU2Nz...

In [60]:
full_df.to_csv(r'C:\My\Workspace\Python_Projects\Movies_Data\output_files\\movie_list.csv', sep='|', index=False)

In [61]:
def extract_column_to_list(df, column_name):
    return df[column_name].tolist()

# usage
imdb_id_list = extract_column_to_list(full_df, 'imdb_id')

In [62]:
# https://www.omdbapi.com/?i=tt2382320&apikey=e55a0e19
url_list = []
import urllib.parse
for imdbId in imdb_id_list:
    url = 'https://www.omdbapi.com/?'
    params = {'i': imdbId, 'apikey': 'e55a0e19'}
    temp_url = str(url + urllib.parse.urlencode(params))
    url_list.append(temp_url)
print(url_list)

['https://www.omdbapi.com/?i=tt4998632&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1856101&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1160419&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1631867&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt2719848&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt6710474&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1950186&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0816692&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1392190&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt2382320&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1677720&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt3794354&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt12412888&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt2948372&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0103064&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1877830&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0133093&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0234215&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt10838180&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0242653&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt2709768&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1745960&apikey=e55a0e19']

In [63]:
import requests
import json
data_list = []
for api_url in url_list:
    resp = requests.get(api_url)
    resp.raise_for_status()
    data = resp.json()
    data_list.append(data)

print("stop")

stop

In [64]:
data_list_df = pd.DataFrame(data_list)

In [65]:
# column_list=["Title","Year","Rated","Released","Runtime","Genre","Director","Writer","Actors","Plot","Language","Country","Awards","Poster","Ratings","Metascore","imdbRating","imdbVotes","imdbID","Type","DVD","BoxOffice","Production","Website","Response"]

In [66]:
column_list=["Title","Year","Rated","Released","Runtime","Genre","Director","Writer","Actors","Plot","Language","Country","Awards","Poster","Ratings","Metascore","imdbRating","imdbVotes","imdbID","Type","DVD","BoxOffice","Production","Website"]
data_list_df_partial = pd.DataFrame(data_list_df, columns=column_list)

In [39]:
data_list_df_partial['Title'] = data_list_df_partial['Title'].astype("string")
data_list_df_partial['Year'] = pd.to_numeric(data_list_df_partial['Year'])
data_list_df_partial['Rated'] = data_list_df_partial['Rated'].astype("string")
data_list_df_partial['Released'] = pd.to_datetime(data_list_df_partial['Released'], dayfirst=True, errors="raise", format='%d %b %Y')
data_list_df_partial['Runtime'] = data_list_df_partial['Runtime'].astype("string")
data_list_df_partial['Genre'] = data_list_df_partial['Genre'].astype("string")
data_list_df_partial['Director'] = data_list_df_partial['Director'].astype("string")
data_list_df_partial['Writer'] = data_list_df_partial['Writer'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['Plot'] = data_list_df_partial['Plot'].astype("string")
data_list_df_partial['Language'] = data_list_df_partial['Language'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['imdbID'] = data_list_df_partial['imdbID'].astype("string")
data_list_df_partial['imdbID'] = data_list_df_partial['imdbID'].astype("string")
data_list_df_partial['imdbID'] = data_list_df_partial['imdbID'].astype("string")
data_list_df_partial['imdbID'] = data_list_df_partial['imdbID'].astype("string")
data_list_df_partial['imdbID'] = data_list_df_partial['imdbID'].astype("string")
data_list_df_partial['imdbID'] = data_list_df_partial['imdbID'].astype("string")

In [67]:
data_list_df_partial.head(15)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Ratings,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
0,Ambulance,2022,R,08 Apr 2022,136 min,"Action, Crime, Drama",Michael Bay,"Chris Fedak, Laurits Munch-Petersen, Lars Andr...","Jake Gyllenhaal, Yahya Abdul-Mateen II, Eiza G...",Two robbers steal an ambulance after their hei...,...,"[{'Source': 'Internet Movie Database', 'Value'...",55,6.1,"81,221",tt4998632,movie,24 May 2022,"$22,781,115",N/A,N/A
1,Blade Runner 2049,2017,R,06 Oct 2017,164 min,"Action, Drama, Mystery",Denis Villeneuve,"Hampton Fancher, Michael Green, Philip K. Dick","Harrison Ford, Ryan Gosling, Ana de Armas",Young Blade Runner K's discovery of a long-bur...,...,"[{'Source': 'Internet Movie Database', 'Value'...",81,8.0,"599,573",tt1856101,movie,16 Jan 2018,"$92,071,675",N/A,N/A
2,Dune,2021,PG-13,22 Oct 2021,155 min,"Action, Adventure, Drama",Denis Villeneuve,"Jon Spaihts, Denis Villeneuve, Eric Roth","Timothée Chalamet, Rebecca Ferguson, Zendaya",A noble family becomes embroiled in a war for ...,...,"[{'Source': 'Internet Movie Database', 'Value'...",74,8.0,"665,392",tt1160419,movie,22 Oct 2021,"$108,327,830",N/A,N/A
3,Edge of Tomorrow,2014,PG-13,06 Jun 2014,113 min,"Action, Adventure, Sci-Fi",Doug Liman,"Christopher McQuarrie, Jez Butterworth, John-H...","Tom Cruise, Emily Blunt, Bill Paxton",A soldier fighting aliens gets to relive the s...,...,"[{'Source': 'Internet Movie Database', 'Value'...",71,7.9,"696,962",tt1631867,movie,07 Oct 2014,"$100,206,256",N/A,N/A
4,Everest,2015,PG-13,25 Sep 2015,121 min,"Action, Adventure, Biography",Baltasar Kormákur,"William Nicholson, Simon Beaufoy","Jason Clarke, Ang Phula Sherpa, Thomas M. Wright","The story of New Zealand mountaineer Rob Hall,...",...,"[{'Source': 'Internet Movie Database', 'Value'...",64,7.1,"223,452",tt2719848,movie,19 Jan 2016,"$43,482,270",N/A,N/A
5,Everything Everywhere All at Once,2022,R,08 Apr 2022,139 min,"Action, Adventure, Comedy","Daniel Kwan, Daniel Scheinert","Daniel Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Jamie Lee Curtis",A middle-aged Chinese immigrant is swept up in...,...,"[{'Source': 'Internet Movie Database', 'Value'...",81,7.9,"428,822",tt6710474,movie,07 Jun 2022,"$77,169,469",N/A,N/A
6,Ford v Ferrari,2019,PG-13,15 Nov 2019,152 min,"Action, Biography, Drama",James Mangold,"Jez Butterworth, John-Henry Butterworth, Jason...","Matt Damon, Christian Bale, Jon Bernthal",American car designer Carroll Shelby and drive...,...,"[{'Source': 'Internet Movie Database', 'Value'...",81,8.1,"414,884",tt1950186,movie,15 Nov 2019,"$117,624,357",N/A,N/A
7,Interstellar,2014,PG-13,07 Nov 2014,169 min,"Adventure, Drama, Sci-Fi",Christopher Nolan,"Jonathan Nolan, Christopher Nolan","Matthew McConaughey, Anne Hathaway, Jessica Ch...",A team of explorers travel through a wormhole ...,...,"[{'Source': 'Internet Movie Database', 'Value'...",74,8.6,"1,898,118",tt0816692,movie,31 Mar 2015,"$188,020,017",N/A,N/A
8,Mad Max: Fury Road,2015,R,15 May 2015,120 min,"Action, Adventure, Sci-Fi",George Miller,"George Miller, Brendan McCarthy, Nick Lathouris","Tom Hardy, Charlize Theron, Nicholas Hoult","In a post-apocalyptic wasteland, a woman rebel...",...,"[{'Source': 'Internet Movie Database', 'Value'...",90,8.1,"1,026,101",tt1392190,movie,01 Sep 2015,"$154,109,060",N/A,N/A
9,No Time to Die,2021,PG-13,08 Oct 2021,163 min,"Action, Adventure, Thriller",Cary Joji Fukunaga,"Neal Purvis, Robert Wade, Cary Joji Fukunaga","Daniel Craig, Ana de Armas, Rami Malek",James Bond has left active service. His peace ...,...,"[{'Source': 'Internet Movie Database', 'Value'...",68,7.3,"415,836",tt2382320,movie,09 Nov 2021,"$160,891,007",N/A,N/A
10,Ready Player One,2018,PG-13,29 Mar 2018,140 min,"Action, Adventure, Sci-Fi",Steven Spielberg,"Zak Penn, Ernest Cline","Tye Sheridan, Olivia Cooke, Ben Mendelsohn",When the creator of a virtual reality called t...,...,"[{'Source': 'Internet Movie Database', 'Value'...",64,7.4,"452,315",tt1677720,movie,05 Apr 2018,"$137,715,350",N/A,N/A
11,Sonic the Hedgehog,2020,PG,14 Feb 2020,99 min,"Action, Adventure, Comedy",Jeff Fowler,"Pat Casey, Josh Miller","Ben Schwartz, James Marsden, Jim Carrey","After discovering a small, blue, fast hedgehog...",...,"[{'Source': 'Internet Movie Database', 'Value'...",47,6.5,"146,408",tt3794354,movie,31 Mar 2020,"$148,974,665",N/A,N/A
12,Sonic the Hedgehog 2,2022,PG,08 Apr 2022,122 min,"Action, Adventure, Comedy",Jeff Fowler,"Pat Casey, Josh Miller, John Whittington","James Marsden, Jim Carrey, Ben Schwartz",When the manic Dr Robotnik returns to Earth wi...,...,"[{'Source': 'Internet Movie Database', 'Value'...",47,6.5,"73,445",tt12412888,movie,24 May 2022,"$190,872,904",N/A,N/A
13,Soul,2020,PG,29 Nov 2020,100 min,"Animation, Adventure, Comedy","Pete Docter, Kemp Powers","Pete Docter, Mike Jones, Kemp Powers","Jamie Foxx, Tina Fey, Graham Norton","After landing the gig of a lifetime, a New Yor...",...,"[{'Source': 'Internet Movie Database', 'Value'...",83,8.0,"342,758",tt2948372,movie,25 Dec 2020,N/A,N/A,N/A
14,Terminator 2: Judgment Day,1991,R,03 Jul 1991,137 min,"Action, Sci-Fi",James Cameron,"James Cameron, William Wisher","Arnold Schwarzenegger, Linda Hamilton, Edward ...","A cyborg, identical to the one who failed to k...",...,"[{'Source': 'Internet Movie Database', 'Value'...",75,8.6,"1,119,363",tt0103064,movie,13 Feb 2007,"$205,881,154",N/A,N/A

In [68]:
data_list_df_partial.describe()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Ratings,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
count,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22
unique,22,12,3,20,21,12,18,20,20,22,...,22,16,15,22,22,1,21,22,1,1
top,Ambulance,2022,R,08 Apr 2022,136 min,"Action, Sci-Fi","Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",Two robbers steal an ambulance after their hei...,...,"[{'Source': 'Internet Movie Database', 'Value'...",81,8.0,"81,221",tt4998632,movie,24 May 2022,"$22,781,115",N/A,N/A
freq,1,5,9,3,2,5,3,3,3,1,...,1,3,3,1,1,22,2,1,22,22

In [69]:
data_list_df_partial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       22 non-null     object
 1   Year        22 non-null     object
 2   Rated       22 non-null     object
 3   Released    22 non-null     object
 4   Runtime     22 non-null     object
 5   Genre       22 non-null     object
 6   Director    22 non-null     object
 7   Writer      22 non-null     object
 8   Actors      22 non-null     object
 9   Plot        22 non-null     object
 10  Language    22 non-null     object
 11  Country     22 non-null     object
 12  Awards      22 non-null     object
 13  Poster      22 non-null     object
 14  Ratings     22 non-null     object
 15  Metascore   22 non-null     object
 16  imdbRating  22 non-null     object
 17  imdbVotes   22 non-null     object
 18  imdbID      22 non-null     object
 19  Type        22 non-null     object
 20  DVD         22 non-null     object
 21  BoxOffice   22 non-null     object
 22  Production  22 non-null     object
 23  Website     22 non-null     object
dtypes: object(24)
memory usage: 4.2+ KB

In [70]:
data_list_df_partial.to_csv(r'C:\My\Workspace\Python_Projects\Movies_Data\output_files\\movie_list_detail.csv',sep='|', index=False)