In [1]:
import omdb
import pandas as pd
from omdb import OMDBClient
client = OMDBClient(apikey='e55a0e19')

In [39]:
csv_data = pd.read_csv('C:\My\Workspace\Python_Projects\Movies_Data\input_files\\film_list.csv')
csv_data.head()

                     Title  Year_Released
0  The Secret Life of Pets           2016
1         Edge Of Tomorrow           2014
2       Mad Max: Fury Road           2015
3        Top Gun: Maverick           2022
4         Ready Player One           2018

In [40]:
def get_film_object(row):
    film_title = row['Title']
    film_year_released = str(row['Year_Released'])
    film_object = client.search(film_title, year=film_year_released)
    return film_object[0]

csv_data['film_object'] = csv_data.apply(get_film_object, axis=1)
film_data = csv_data['film_object'].tolist()

In [41]:
full_df = pd.DataFrame(film_data)
full_df.reset_index()
print('stip')

stip

In [42]:
full_df.head(15)
# full_df.describe()

,title,year,imdb_id,type,poster
0,The Secret Life of Pets,2016,tt2709768,movie,https://m.media-amazon.com/images/M/MV5BMjIzMz...
1,Edge of Tomorrow,2014,tt1631867,movie,https://m.media-amazon.com/images/M/MV5BMTc5OT...
2,Mad Max: Fury Road,2015,tt1392190,movie,https://m.media-amazon.com/images/M/MV5BN2EwM2...
3,Top Gun: Maverick,2022,tt1745960,movie,https://m.media-amazon.com/images/M/MV5BZWYzOG...
4,Ready Player One,2018,tt1677720,movie,https://m.media-amazon.com/images/M/MV5BY2JiYT...
5,The Matrix Resurrections,2021,tt10838180,movie,https://m.media-amazon.com/images/M/MV5BMGJkND...
6,Ford v Ferrari,2019,tt1950186,movie,https://m.media-amazon.com/images/M/MV5BM2UwMD...
7,Dune,2021,tt1160419,movie,https://m.media-amazon.com/images/M/MV5BN2FjNm...
8,Blade Runner 2049,2017,tt1856101,movie,https://m.media-amazon.com/images/M/MV5BNzA1Nj...
9,Interstellar,2014,tt0816692,movie,https://m.media-amazon.com/images/M/MV5BZjdkOT...
10,The Batman,2022,tt1877830,movie,https://m.media-amazon.com/images/M/MV5BMDdmMT...
11,Everything Everywhere All at Once,2022,tt6710474,movie,https://m.media-amazon.com/images/M/MV5BYTdiOT...
12,Ambulance,2022,tt4998632,movie,https://m.media-amazon.com/images/M/MV5BYjUyN2...
13,The Matrix,1999,tt0133093,movie,https://m.media-amazon.com/images/M/MV5BNzQzOT...
14,No Time to Die,2021,tt2382320,movie,https://m.media-amazon.com/images/M/MV5BYWQ2Nz...

In [43]:
full_df.to_csv(r'C:\My\Workspace\Python_Projects\Movies_Data\output_files\\movie_list.csv', index=False)

In [44]:
def extract_column_to_list(df, column_name):
    return df[column_name].tolist()

# usage
imdb_id_list = extract_column_to_list(full_df, 'imdb_id')

In [45]:
# https://www.omdbapi.com/?i=tt2382320&apikey=e55a0e19
url_list = []
import urllib.parse
for imdbId in imdb_id_list:
    url = 'https://www.omdbapi.com/?'
    params = {'i': imdbId, 'apikey': 'e55a0e19'}
    temp_url = str(url + urllib.parse.urlencode(params))
    url_list.append(temp_url)
print(url_list)

['https://www.omdbapi.com/?i=tt2709768&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1631867&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1392190&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1745960&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1677720&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt10838180&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1950186&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1160419&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1856101&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0816692&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1877830&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt6710474&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt4998632&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0133093&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt2382320&apikey=e55a0e19']

In [46]:
import requests
import json
data_list = []
for api_url in url_list:
    resp = requests.get(api_url)
    resp.raise_for_status()
    data = resp.json()
    data_list.append(data)

print("stop")

stop

In [47]:
data_list_df = pd.DataFrame(data_list)

In [48]:
data_list_df.head(15)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,The Secret Life of Pets,2016,PG,08 Jul 2016,87 min,"Animation, Adventure, Comedy",Chris Renaud,"Cinco Paul, Ken Daurio, Brian Lynch","Louis C.K., Eric Stonestreet, Kevin Hart",The quiet life of a terrier named Max is upend...,...,61,6.5,"207,856",tt2709768,movie,06 Dec 2016,"$368,384,330",N/A,N/A,True
1,Edge of Tomorrow,2014,PG-13,06 Jun 2014,113 min,"Action, Adventure, Sci-Fi",Doug Liman,"Christopher McQuarrie, Jez Butterworth, John-H...","Tom Cruise, Emily Blunt, Bill Paxton",A soldier fighting aliens gets to relive the s...,...,71,7.9,"696,962",tt1631867,movie,07 Oct 2014,"$100,206,256",N/A,N/A,True
2,Mad Max: Fury Road,2015,R,15 May 2015,120 min,"Action, Adventure, Sci-Fi",George Miller,"George Miller, Brendan McCarthy, Nick Lathouris","Tom Hardy, Charlize Theron, Nicholas Hoult","In a post-apocalyptic wasteland, a woman rebel...",...,90,8.1,"1,026,101",tt1392190,movie,01 Sep 2015,"$154,109,060",N/A,N/A,True
3,Top Gun: Maverick,2022,PG-13,27 May 2022,130 min,"Action, Drama",Joseph Kosinski,"Jim Cash, Jack Epps Jr., Peter Craig","Tom Cruise, Jennifer Connelly, Miles Teller","After thirty years, Maverick is still pushing ...",...,78,8.3,"577,834",tt1745960,movie,22 Aug 2022,"$718,732,821",N/A,N/A,True
4,Ready Player One,2018,PG-13,29 Mar 2018,140 min,"Action, Adventure, Sci-Fi",Steven Spielberg,"Zak Penn, Ernest Cline","Tye Sheridan, Olivia Cooke, Ben Mendelsohn",When the creator of a virtual reality called t...,...,64,7.4,"452,315",tt1677720,movie,05 Apr 2018,"$137,715,350",N/A,N/A,True
5,The Matrix Resurrections,2021,R,22 Dec 2021,148 min,"Action, Sci-Fi",Lana Wachowski,"Lana Wachowski, David Mitchell, Aleksandar Hemon","Keanu Reeves, Carrie-Anne Moss, Yahya Abdul-Ma...","Return to a world of two realities: one, every...",...,63,5.7,"259,823",tt10838180,movie,22 Dec 2021,"$37,686,805",N/A,N/A,True
6,Ford v Ferrari,2019,PG-13,15 Nov 2019,152 min,"Action, Biography, Drama",James Mangold,"Jez Butterworth, John-Henry Butterworth, Jason...","Matt Damon, Christian Bale, Jon Bernthal",American car designer Carroll Shelby and drive...,...,81,8.1,"414,884",tt1950186,movie,15 Nov 2019,"$117,624,357",N/A,N/A,True
7,Dune,2021,PG-13,22 Oct 2021,155 min,"Action, Adventure, Drama",Denis Villeneuve,"Jon Spaihts, Denis Villeneuve, Eric Roth","Timothée Chalamet, Rebecca Ferguson, Zendaya",A noble family becomes embroiled in a war for ...,...,74,8.0,"665,392",tt1160419,movie,22 Oct 2021,"$108,327,830",N/A,N/A,True
8,Blade Runner 2049,2017,R,06 Oct 2017,164 min,"Action, Drama, Mystery",Denis Villeneuve,"Hampton Fancher, Michael Green, Philip K. Dick","Harrison Ford, Ryan Gosling, Ana de Armas",Young Blade Runner K's discovery of a long-bur...,...,81,8.0,"599,573",tt1856101,movie,16 Jan 2018,"$92,071,675",N/A,N/A,True
9,Interstellar,2014,PG-13,07 Nov 2014,169 min,"Adventure, Drama, Sci-Fi",Christopher Nolan,"Jonathan Nolan, Christopher Nolan","Matthew McConaughey, Anne Hathaway, Jessica Ch...",A team of explorers travel through a wormhole ...,...,74,8.6,"1,898,118",tt0816692,movie,31 Mar 2015,"$188,020,017",N/A,N/A,True
10,The Batman,2022,PG-13,04 Mar 2022,176 min,"Action, Crime, Drama",Matt Reeves,"Matt Reeves, Peter Craig, Bob Kane","Robert Pattinson, Zoë Kravitz, Jeffrey Wright",When a sadistic serial killer begins murdering...,...,72,7.8,"692,486",tt1877830,movie,19 Apr 2022,"$369,345,583",N/A,N/A,True
11,Everything Everywhere All at Once,2022,R,08 Apr 2022,139 min,"Action, Adventure, Comedy","Daniel Kwan, Daniel Scheinert","Daniel Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Jamie Lee Curtis",A middle-aged Chinese immigrant is swept up in...,...,81,7.9,"428,822",tt6710474,movie,07 Jun 2022,"$77,169,469",N/A,N/A,True
12,Ambulance,2022,R,08 Apr 2022,136 min,"Action, Crime, Drama",Michael Bay,"Chris Fedak, Laurits Munch-Petersen, Lars Andr...","Jake Gyllenhaal, Yahya Abdul-Mateen II, Eiza G...",Two robbers steal an ambulance after their hei...,...,55,6.1,"81,221",tt4998632,movie,24 May 2022,"$22,781,115",N/A,N/A,True
13,The Matrix,1999,R,31 Mar 1999,136 min,"Action, Sci-Fi","Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",When a beautiful stranger leads computer hacke...,...,73,8.7,"1,947,879",tt0133093,movie,15 May 2007,"$172,076,928",N/A,N/A,True
14,No Time to Die,2021,PG-13,08 Oct 2021,163 min,"Action, Adventure, Thriller",Cary Joji Fukunaga,"Neal Purvis, Robert Wade, Cary Joji Fukunaga","Daniel Craig, Ana de Armas, Rami Malek",James Bond has left active service. His peace ...,...,68,7.3,"415,836",tt2382320,movie,09 Nov 2021,"$160,891,007",N/A,N/A,True

In [49]:
data_list_df.describe()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
count,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
unique,15,9,3,14,14,11,14,15,15,15,...,12,12,15,15,1,15,15,1,1,1
top,The Secret Life of Pets,2022,PG-13,08 Apr 2022,136 min,"Action, Adventure, Sci-Fi",Denis Villeneuve,"Cinco Paul, Ken Daurio, Brian Lynch","Louis C.K., Eric Stonestreet, Kevin Hart",The quiet life of a terrier named Max is upend...,...,81,7.9,"207,856",tt2709768,movie,06 Dec 2016,"$368,384,330",N/A,N/A,True
freq,1,4,8,2,2,3,2,1,1,1,...,3,2,1,1,15,1,1,15,15,15

In [50]:
data_list_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       15 non-null     object
 1   Year        15 non-null     object
 2   Rated       15 non-null     object
 3   Released    15 non-null     object
 4   Runtime     15 non-null     object
 5   Genre       15 non-null     object
 6   Director    15 non-null     object
 7   Writer      15 non-null     object
 8   Actors      15 non-null     object
 9   Plot        15 non-null     object
 10  Language    15 non-null     object
 11  Country     15 non-null     object
 12  Awards      15 non-null     object
 13  Poster      15 non-null     object
 14  Ratings     15 non-null     object
 15  Metascore   15 non-null     object
 16  imdbRating  15 non-null     object
 17  imdbVotes   15 non-null     object
 18  imdbID      15 non-null     object
 19  Type        15 non-null     object
 20  DVD         15 non-null     object
 21  BoxOffice   15 non-null     object
 22  Production  15 non-null     object
 23  Website     15 non-null     object
 24  Response    15 non-null     object
dtypes: object(25)
memory usage: 3.1+ KB

In [51]:
data_list_df.to_csv(r'C:\My\Workspace\Python_Projects\Movies_Data\output_files\\movie_list_detail.csv', index=False)