In [1]:
import omdb
import pandas as pd
from omdb import OMDBClient
client = OMDBClient(apikey='e55a0e19')

In [2]:
csv_data = pd.read_csv('C:\My\Workspace\Python_Projects\Movies_Data\input_files\\film_list.csv')
csv_data.head()

                     Title  Year_Released
0  The Secret Life of Pets           2016
1         Edge Of Tomorrow           2014
2       Mad Max: Fury Road           2015
3        Top Gun: Maverick           2022
4         Ready Player One           2018

In [3]:
def get_film_object(row):
    film_title = row['Title']
    film_year_released = str(row['Year_Released'])
    film_object = client.search(film_title, year=film_year_released)
    return film_object[0]

csv_data['film_object'] = csv_data.apply(get_film_object, axis=1)
film_data = csv_data['film_object'].tolist()

In [4]:
full_df = pd.DataFrame(film_data)
full_df.reset_index()
print('stip')

stip

In [5]:
full_df.head(15)
# full_df.describe()

,title,year,imdb_id,type,poster
0,The Secret Life of Pets,2016,tt2709768,movie,https://m.media-amazon.com/images/M/MV5BMjIzMz...
1,Edge of Tomorrow,2014,tt1631867,movie,https://m.media-amazon.com/images/M/MV5BMTc5OT...
2,Mad Max: Fury Road,2015,tt1392190,movie,https://m.media-amazon.com/images/M/MV5BN2EwM2...
3,Top Gun: Maverick,2022,tt1745960,movie,https://m.media-amazon.com/images/M/MV5BZWYzOG...
4,Ready Player One,2018,tt1677720,movie,https://m.media-amazon.com/images/M/MV5BY2JiYT...
5,The Matrix Resurrections,2021,tt10838180,movie,https://m.media-amazon.com/images/M/MV5BMGJkND...
6,Ford v Ferrari,2019,tt1950186,movie,https://m.media-amazon.com/images/M/MV5BM2UwMD...
7,Dune,2021,tt1160419,movie,https://m.media-amazon.com/images/M/MV5BN2FjNm...
8,Blade Runner 2049,2017,tt1856101,movie,https://m.media-amazon.com/images/M/MV5BNzA1Nj...
9,Interstellar,2014,tt0816692,movie,https://m.media-amazon.com/images/M/MV5BZjdkOT...
10,The Batman,2022,tt1877830,movie,https://m.media-amazon.com/images/M/MV5BMDdmMT...
11,Everything Everywhere All at Once,2022,tt6710474,movie,https://m.media-amazon.com/images/M/MV5BYTdiOT...
12,Ambulance,2022,tt4998632,movie,https://m.media-amazon.com/images/M/MV5BYjUyN2...
13,The Matrix,1999,tt0133093,movie,https://m.media-amazon.com/images/M/MV5BNzQzOT...
14,No Time to Die,2021,tt2382320,movie,https://m.media-amazon.com/images/M/MV5BYWQ2Nz...

In [43]:
full_df.to_csv(r'C:\My\Workspace\Python_Projects\Movies_Data\output_files\\movie_list.csv', index=False)

In [6]:
def extract_column_to_list(df, column_name):
    return df[column_name].tolist()

# usage
imdb_id_list = extract_column_to_list(full_df, 'imdb_id')

In [7]:
# https://www.omdbapi.com/?i=tt2382320&apikey=e55a0e19
url_list = []
import urllib.parse
for imdbId in imdb_id_list:
    url = 'https://www.omdbapi.com/?'
    params = {'i': imdbId, 'apikey': 'e55a0e19'}
    temp_url = str(url + urllib.parse.urlencode(params))
    url_list.append(temp_url)
print(url_list)

['https://www.omdbapi.com/?i=tt2709768&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1631867&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1392190&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1745960&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1677720&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt10838180&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1950186&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1160419&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1856101&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0816692&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt1877830&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt6710474&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt4998632&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt0133093&apikey=e55a0e19', 'https://www.omdbapi.com/?i=tt2382320&apikey=e55a0e19']

In [8]:
import requests
import json
data_list = []
for api_url in url_list:
    resp = requests.get(api_url)
    resp.raise_for_status()
    data = resp.json()
    data_list.append(data)

print("stop")

stop

In [9]:
data_list_df = pd.DataFrame(data_list)

In [32]:
# column_list=["Title","Year","Rated","Released","Runtime","Genre","Director","Writer","Actors","Plot","Language","Country","Awards","Poster","Ratings","Metascore","imdbRating","imdbVotes","imdbID","Type","DVD","BoxOffice","Production","Website","Response"]

In [278]:
column_list=["Title","Year","Rated","Released","Runtime","Genre","Director","Writer","Actors","imdbID"]
data_list_df_partial = pd.DataFrame(data_list_df, columns=column_list)

In [279]:
data_list_df_partial['Title'] = data_list_df_partial['Title'].astype("string")
data_list_df_partial['Year'] = pd.to_numeric(data_list_df_partial['Year'])
data_list_df_partial['Rated'] = data_list_df_partial['Rated'].astype("string")
data_list_df_partial['Released'] = pd.to_datetime(data_list_df_partial['Released'], dayfirst=True, errors="raise", format='%d %b %Y')
data_list_df_partial['Runtime'] = data_list_df_partial['Runtime'].astype("string")
data_list_df_partial['Genre'] = data_list_df_partial['Genre'].astype("string")
data_list_df_partial['Director'] = data_list_df_partial['Director'].astype("string")
data_list_df_partial['Writer'] = data_list_df_partial['Writer'].astype("string")
data_list_df_partial['Actors'] = data_list_df_partial['Actors'].astype("string")
data_list_df_partial['imdbID'] = data_list_df_partial['imdbID'].astype("string")

In [280]:
data_list_df_partial.head(15)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,imdbID
0,The Secret Life of Pets,2016,PG,2016-07-08,87 min,"Animation, Adventure, Comedy",Chris Renaud,"Cinco Paul, Ken Daurio, Brian Lynch","Louis C.K., Eric Stonestreet, Kevin Hart",tt2709768
1,Edge of Tomorrow,2014,PG-13,2014-06-06,113 min,"Action, Adventure, Sci-Fi",Doug Liman,"Christopher McQuarrie, Jez Butterworth, John-H...","Tom Cruise, Emily Blunt, Bill Paxton",tt1631867
2,Mad Max: Fury Road,2015,R,2015-05-15,120 min,"Action, Adventure, Sci-Fi",George Miller,"George Miller, Brendan McCarthy, Nick Lathouris","Tom Hardy, Charlize Theron, Nicholas Hoult",tt1392190
3,Top Gun: Maverick,2022,PG-13,2022-05-27,130 min,"Action, Drama",Joseph Kosinski,"Jim Cash, Jack Epps Jr., Peter Craig","Tom Cruise, Jennifer Connelly, Miles Teller",tt1745960
4,Ready Player One,2018,PG-13,2018-03-29,140 min,"Action, Adventure, Sci-Fi",Steven Spielberg,"Zak Penn, Ernest Cline","Tye Sheridan, Olivia Cooke, Ben Mendelsohn",tt1677720
5,The Matrix Resurrections,2021,R,2021-12-22,148 min,"Action, Sci-Fi",Lana Wachowski,"Lana Wachowski, David Mitchell, Aleksandar Hemon","Keanu Reeves, Carrie-Anne Moss, Yahya Abdul-Ma...",tt10838180
6,Ford v Ferrari,2019,PG-13,2019-11-15,152 min,"Action, Biography, Drama",James Mangold,"Jez Butterworth, John-Henry Butterworth, Jason...","Matt Damon, Christian Bale, Jon Bernthal",tt1950186
7,Dune,2021,PG-13,2021-10-22,155 min,"Action, Adventure, Drama",Denis Villeneuve,"Jon Spaihts, Denis Villeneuve, Eric Roth","Timothée Chalamet, Rebecca Ferguson, Zendaya",tt1160419
8,Blade Runner 2049,2017,R,2017-10-06,164 min,"Action, Drama, Mystery",Denis Villeneuve,"Hampton Fancher, Michael Green, Philip K. Dick","Harrison Ford, Ryan Gosling, Ana de Armas",tt1856101
9,Interstellar,2014,PG-13,2014-11-07,169 min,"Adventure, Drama, Sci-Fi",Christopher Nolan,"Jonathan Nolan, Christopher Nolan","Matthew McConaughey, Anne Hathaway, Jessica Ch...",tt0816692
10,The Batman,2022,PG-13,2022-03-04,176 min,"Action, Crime, Drama",Matt Reeves,"Matt Reeves, Peter Craig, Bob Kane","Robert Pattinson, Zoë Kravitz, Jeffrey Wright",tt1877830
11,Everything Everywhere All at Once,2022,R,2022-04-08,139 min,"Action, Adventure, Comedy","Daniel Kwan, Daniel Scheinert","Daniel Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Jamie Lee Curtis",tt6710474
12,Ambulance,2022,R,2022-04-08,136 min,"Action, Crime, Drama",Michael Bay,"Chris Fedak, Laurits Munch-Petersen, Lars Andr...","Jake Gyllenhaal, Yahya Abdul-Mateen II, Eiza G...",tt4998632
13,The Matrix,1999,R,1999-03-31,136 min,"Action, Sci-Fi","Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",tt0133093
14,No Time to Die,2021,PG-13,2021-10-08,163 min,"Action, Adventure, Thriller",Cary Joji Fukunaga,"Neal Purvis, Robert Wade, Cary Joji Fukunaga","Daniel Craig, Ana de Armas, Rami Malek",tt2382320

In [281]:
data_list_df_partial.describe()

              Year
count    15.000000
mean   2017.533333
std       5.950590
min    1999.000000
25%    2015.500000
50%    2019.000000
75%    2021.500000
max    2022.000000

In [282]:
data_list_df_partial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     15 non-null     string
 1   Year      15 non-null     int64
 2   Rated     15 non-null     string
 3   Released  15 non-null     datetime64[ns]
 4   Runtime   15 non-null     string
 5   Genre     15 non-null     string
 6   Director  15 non-null     string
 7   Writer    15 non-null     string
 8   Actors    15 non-null     string
 9   imdbID    15 non-null     string
dtypes: datetime64[ns](1), int64(1), string(8)
memory usage: 1.3 KB

In [283]:
data_list_df_partial.to_csv(r'C:\My\Workspace\Python_Projects\Movies_Data\output_files\\movie_list_detail.csv', index=False)